:root {
    /* Variables */
    --duration-long-onset: 0.5s;
}

.animFade {
	animation-duration: var(--duration-long-onset);
	animation-name: keyFade;
}

@keyframes keyFade {
    0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}