/* Style for experiment and opening/closing screens. */

/* Loosely based on: https://getbootstrap.com/docs/3.3/examples/cover/ */

/* Jessica Van Brummelen */

:root {
    /* Colour Variables */
    --colour-dark-grey: hsl(0, 0%, 19%);
    --colour-white: white;
    --colour-black: black;
    --colour-btn-disabled: rgb(136, 136, 136);
    --colour-progress: rgb(179, 179, 179);
    /* Sizes */
    --site-padding-size: 2em;
}

html,
body {
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: var(--colour-white);
    background-color: var(--colour-dark-grey);
    margin: 0;
    padding: 0;
    border: 0;
}

/* Removes the margin that causes weird spacing issues at the top of the page */

h1 {
    font-size: 2.5rem;
    margin: 0;
}

h2 {
    font-size: 1.75rem;
    font-weight: normal;
    margin-top: 2em;
}

#wholeSiteWrap,
#basicsurveywrap,
#gradualsurveywrap {
    box-sizing: border-box;
    padding: var(--site-padding-size);
    height: 100%;
    width: 100%;
    box-shadow: inset 0 0 10em rgba(0, 0, 0, .5);
    text-align: center;
}

#buttonArea {
    margin-top: 2.5em;
    margin-bottom: 3em;
}

input.button {
    border: none;
    background-color: var(--colour-white);
    padding: 0.6em 1.2em;
    color: var(--colour-dark-grey);
    font-weight: bold;
    border-radius: 0.3rem;
    cursor: pointer;
}

input.button.disabled {
    background-color: var(--colour-btn-disabled);
    cursor: default;
}

.progressBar {
    text-align: center;
    color: var(--colour-progress);
}

video {
    padding-bottom: 1em;
    max-width: calc(100vw - var(--site-padding-size) * 2);
    max-height: 75vh;
}